# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Backup / temp files
*.log
*.tmp
*.bak

# Personal config
.env
config.js

Homeutensils.jpg
Phone.jpg
beauty_pick.jpg
books.jpg
cloths.jpg
electronics.jpg
images.jpg
newarrival.jpg
wooden.jpg
